* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      rgba(92, 92, 92, 0.5),
      rgba(66, 66, 66, 0.5)
    ),
    url(images/art.jpg);
  height: 100vh;
  background-size: cover;
  text-align: left;
  

}

.main-container {
  margin-top: 3.5em;
  display: grid;
  height: 100vh;


}

.container-fluid {
  line-height: 1.5;
  padding: 10px 10px;
  grid-column: 1/11;
}

.sidebar {
  height: 100%;
  background-color: rgb(165, 138, 170);
  grid-column: 1;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    rgba(109, 0, 91, 0.5),
    rgba(255, 182, 251, 0.5)
  ),
  url(images/painting.jpg);
top: 170px;
right: 10px;
opacity: 0.9;
}
.sidebar a {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  
}

.card {
  margin-top: 20px;
}


.card-body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5),
   rgba(137, 255, 196, 0.5));
   color: rgb(65, 0, 0);
   text-transform: lowercase;
   font-size: 15px;
   font-family: Georgia, "Times New Roman", Times, serif;
  
  
}

.footer {
  background-color: rgb(112, 69, 151);
  grid-column: 1/12;
  display: flex;
  justify-content: space-around;
 color: white;
 align-items: center;
}


.card-title {
  color: rgb(107, 0, 62);
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}



.btn {
  border: 1px solid white;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 13px;
  text-transform: uppercase;
}

footer a {
  border: 2px solid white;
  color: rgb(255, 255, 255);
  background-color: rgb(143, 0, 136);
  padding: 10px;
  text-transform: uppercase;
  font-size: 15px;
  margin: 5px;
}
a:hover {
  background-color: rgb(212, 125, 24);
  transition: all 0.5s ease-in;
  border: 2px solid rgb(172, 172, 172);
  border-radius: 10px ;
}

@media (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between
  
  }
  
  .sidebar {
    background-image: linear-gradient(
        rgba(107, 34, 107, 0.5),
        rgba(174, 25, 211, 0.5)
      ),
      url(images/painting.jpg);
    padding: 20px;
    min-width: 400px;
    top: 10px;
    justify-content: center;
    margin: 20px;
    grid-column: 1/12;
  }
  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main a {
    color: white;
    font-size: 15px;
    font-family: monospace;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
  }
  
}